body {
    font-family: sans-serif;
    background: #f7f7f7;
    padding: 2rem;
}

.container {
    background: #fff;
    padding: 2rem;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

form {
    display: flex;
    flex-direction: column;
    /* تغییر به ستونی */
    gap: 1rem;
    margin-bottom: 2rem;
}

input[type="text"] {
    padding: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

li span {
    flex: 1;
    margin-left: 1rem;
}

.logout-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #cc0000;
}